<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../css/leon.css">
    <!-- Personalización acá -->

</head>

<body>
    <header>
        <nav class="nav">
            <div class="contenedor">
                <a href="../index.html">Inicio</a>
                <a href="components.html" class="activo">Componentes</a>
            </div>
        </nav>

    </header>


    <section class="contenedor">
        <div class="grid pc-col-3 tablet-col-2 mobil-col-1">
            <div class="card">Card 2</div>
            <div class="card">Card 3</div>
            <div class="card">Card 4</div>
            <div class="card">Card 5</div>
            <div class="card">Card 6</div>
        </div>
    </section>

</body>

</html>