<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../css/leon.css">
    <!-- Personalización acá -->

</head>

<body>
    <header>
        <nav class="nav">
            <div class="contenedor">
                <a href="../index.html">Inicio</a>
                <a href="components.html" class="activo">Componentes</a>
            </div>
        </nav>

    </header>

    <section>
        <div class="contenedor card">
            <h1 class="display-1 texto-centrado">Hero</h1>
            <p class="margen-inferior">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tempore soluta
                quia. Officiis doloremque,
                consequatur eum aliquid saepe explicabo ducimus.</p>
            <button class="button">Boton primario</button>
            <button class="button verde">Botón secundario</button>
        </div>
    </section>

</body>

</html>