<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../css/leon.css">
    <!-- Personalización acá -->

</head>

<body>
    <header>
        <nav class="nav">
            <div class="contenedor">
                <a href="../index.html">Inicio</a>
                <a href="components.html" class="activo">Componentes</a>
            </div>
        </nav>

    </header>


    <section class="contenedor">
        <div class="grid pc-col-3 tablet-col-2 mobil-col-1">
            <!-- POST -->
            <div class="pc-span-2 tablet-span-2 mobile-span-1">
                <!-- POST 1 -->
                <div class="card margen-inferior">
                    <h2>Post</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, aspernatur.</p>
                </div>

                <!-- POST 2 -->
                <div class="card">
                    <h2>Post2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, aspernatur.</p>
                </div>

            </div>
        </div>

    </section>

</body>

</html>