<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titles</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../css/leon.css">
    <!-- Personalización acá -->

</head>

<body>
    <header>
        <nav class="nav">
            <div class="contenedor">
                <a href="../index.html">Inicio</a>
                <a href="components.html" class="activo">Componentes</a>
            </div>
        </nav>

    </header>


    <div class="contenedor card">
        <h1>Titulo nivel 1</h1>
        <h2>Titulo nivel 2</h2>
        <h3>Titulo nivel 3</h3>
        <h4>Titulo nivel 4</h4>
        <h5>Titulo nivel 5</h5>
        <h6>Titulo nivel 6</h6>

        <h1 class="display-1">Display 1</h1>
        <h2 class="display-2">Display 2</h2>
        <h3 class="display-3">Display 3</h3>
    </div>

</body>

</html>