<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titles</title>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../css/leon.css">
    <!-- Personalización acá -->

</head>

<body>
    <header>
        <nav class="nav">
            <div class="contenedor">
                <a href="../index.html">Inicio</a>
                <a href="components.html" class="activo">Componentes</a>
            </div>
        </nav>

    </header>


    <div class="contenedor card">
        <div class="demo card">
            <p><a href="#" data-tooltip="I’m the tooltip text.">I’m a link with a tooltip.</a></p>

            <p><button data-tooltip="I’m the tooltip text.">I’m a button with a tooltip</button></p>
        </div>

    </div>

</body>

</html>