.elementor-144
  .elementor-element.elementor-element-442507c
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-144
  .elementor-element.elementor-element-442507c:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-144
  .elementor-element.elementor-element-442507c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-144 .elementor-element.elementor-element-442507c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
}
.elementor-144
  .elementor-element.elementor-element-442507c
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-144
  .elementor-element.elementor-element-7f6ab9a
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-144
  .elementor-element.elementor-element-7f6ab9a
  > .elementor-element-populated {
  margin: 0%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 0%;
  padding: 0;
}
.elementor-144
  .elementor-element.elementor-element-698e4ea
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-144 .elementor-element.elementor-element-698e4ea {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--e-global-color-astglobalcolor6);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-144
  .elementor-element.elementor-element-698e4ea
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-144
  .elementor-element.elementor-element-fcb405d
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-144
  .elementor-element.elementor-element-a2e9faf
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-144
  .elementor-element.elementor-element-c9214c2
  > .elementor-widget-container {
  margin: 0 0 -20px;
}
.elementor-144
  .elementor-element.elementor-element-3558f10
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-144
  .elementor-element.elementor-element-62f96b2
  > .elementor-widget-container {
  margin: 0;
}
.elementor-144
  .elementor-element.elementor-element-8c11cfb
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-144 .elementor-element.elementor-element-8c11cfb {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--e-global-color-astglobalcolor6);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-144
  .elementor-element.elementor-element-8c11cfb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-144
  .elementor-element.elementor-element-65d71d1
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-144
  .elementor-element.elementor-element-1ad0489
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-144
  .elementor-element.elementor-element-c7edda2
  > .elementor-widget-container {
  margin: 0 0 -20px;
}
.elementor-144
  .elementor-element.elementor-element-1fc6582
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-144
  .elementor-element.elementor-element-81eed2a
  > .elementor-widget-container {
  margin: 0;
}
.elementor-144
  .elementor-element.elementor-element-c6facab
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-144 .elementor-element.elementor-element-c6facab {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-144
  .elementor-element.elementor-element-d273a92
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-144
  .elementor-element.elementor-element-e90667c
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-144
  .elementor-element.elementor-element-b5abb84
  > .elementor-widget-container {
  margin: 0 0 -20px;
}
.elementor-144
  .elementor-element.elementor-element-afd3377
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-144
  .elementor-element.elementor-element-22f29a3
  > .elementor-widget-container {
  margin: 0;
}
@media (min-width: 768px) {
  .elementor-144 .elementor-element.elementor-element-fcb405d {
    width: 25%;
  }
  .elementor-144 .elementor-element.elementor-element-a2e9faf {
    width: 35%;
  }
  .elementor-144 .elementor-element.elementor-element-3558f10 {
    width: 39.664%;
  }
  .elementor-144 .elementor-element.elementor-element-65d71d1 {
    width: 25%;
  }
  .elementor-144 .elementor-element.elementor-element-1ad0489 {
    width: 35%;
  }
  .elementor-144 .elementor-element.elementor-element-1fc6582 {
    width: 39.664%;
  }
  .elementor-144 .elementor-element.elementor-element-d273a92 {
    width: 25%;
  }
  .elementor-144 .elementor-element.elementor-element-e90667c {
    width: 35%;
  }
  .elementor-144 .elementor-element.elementor-element-afd3377 {
    width: 39.664%;
  }
}
@media (max-width: 1024px) {
  .elementor-144 .elementor-element.elementor-element-442507c {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-144 .elementor-element.elementor-element-698e4ea {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-144
    .elementor-element.elementor-element-fcb405d
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-144
    .elementor-element.elementor-element-a2e9faf
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-144
    .elementor-element.elementor-element-3558f10
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-144 .elementor-element.elementor-element-8c11cfb {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-144
    .elementor-element.elementor-element-65d71d1
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-144
    .elementor-element.elementor-element-1ad0489
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-144
    .elementor-element.elementor-element-1fc6582
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-144
    .elementor-element.elementor-element-d273a92
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-144
    .elementor-element.elementor-element-e90667c
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-144
    .elementor-element.elementor-element-afd3377
    > .elementor-element-populated {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .elementor-144 .elementor-element.elementor-element-442507c {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-144
    .elementor-element.elementor-element-7f6ab9a
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-144 .elementor-element.elementor-element-37dbe3b {
    text-align: center;
  }
  .elementor-144
    .elementor-element.elementor-element-a2e9faf
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-144 .elementor-element.elementor-element-856bdb6 {
    text-align: center;
  }
  .elementor-144 .elementor-element.elementor-element-c9214c2 {
    text-align: center;
  }
  .elementor-144
    .elementor-element.elementor-element-3558f10
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-144 .elementor-element.elementor-element-da46bb9 {
    text-align: center;
  }
  .elementor-144 .elementor-element.elementor-element-d54f053 {
    text-align: center;
  }
  .elementor-144 .elementor-element.elementor-element-c7edda2 {
    text-align: center;
  }
  .elementor-144
    .elementor-element.elementor-element-1fc6582
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-144 .elementor-element.elementor-element-c6facab {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-144 .elementor-element.elementor-element-b60d70e {
    text-align: center;
  }
  .elementor-144 .elementor-element.elementor-element-4216c9b {
    text-align: center;
  }
  .elementor-144 .elementor-element.elementor-element-b5abb84 {
    text-align: center;
  }
  .elementor-144
    .elementor-element.elementor-element-afd3377
    > .elementor-element-populated {
    padding: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-144 .elementor-element.elementor-element-7f6ab9a {
    width: 100%;
  }
  .elementor-144 .elementor-element.elementor-element-fcb405d {
    width: 30%;
  }
  .elementor-144 .elementor-element.elementor-element-a2e9faf {
    width: 30%;
  }
  .elementor-144 .elementor-element.elementor-element-3558f10 {
    width: 40%;
  }
  .elementor-144 .elementor-element.elementor-element-65d71d1 {
    width: 30%;
  }
  .elementor-144 .elementor-element.elementor-element-1ad0489 {
    width: 30%;
  }
  .elementor-144 .elementor-element.elementor-element-1fc6582 {
    width: 40%;
  }
  .elementor-144 .elementor-element.elementor-element-d273a92 {
    width: 30%;
  }
  .elementor-144 .elementor-element.elementor-element-e90667c {
    width: 30%;
  }
  .elementor-144 .elementor-element.elementor-element-afd3377 {
    width: 40%;
  }
}
