.elementor-141
  .elementor-element.elementor-element-a430d43
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-141
  .elementor-element.elementor-element-a430d43:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-141
  .elementor-element.elementor-element-a430d43
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}
.elementor-141 .elementor-element.elementor-element-a430d43 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0;
}
.elementor-141
  .elementor-element.elementor-element-a430d43
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-141
  .elementor-element.elementor-element-05b1111
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-141
  .elementor-element.elementor-element-05b1111
  > .elementor-element-populated {
  margin: 0%;
  --e-column-margin-right: 0%;
  --e-column-margin-left: 0%;
  padding: 0;
}
.elementor-141
  .elementor-element.elementor-element-4b8b7ba
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-141 .elementor-element.elementor-element-4b8b7ba {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--e-global-color-astglobalcolor6);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-141
  .elementor-element.elementor-element-4b8b7ba
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-141
  .elementor-element.elementor-element-42ff7d2
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-141
  .elementor-element.elementor-element-f3a0a6e
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-141
  .elementor-element.elementor-element-af4e31b
  > .elementor-widget-container {
  margin: 0 0 -20px;
}
.elementor-141
  .elementor-element.elementor-element-70107cb
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-141
  .elementor-element.elementor-element-d632341
  > .elementor-widget-container {
  margin: 0;
}
.elementor-141
  .elementor-element.elementor-element-b3adf3f
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-141 .elementor-element.elementor-element-b3adf3f {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--e-global-color-astglobalcolor6);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-141
  .elementor-element.elementor-element-b3adf3f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-141
  .elementor-element.elementor-element-6e38688
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-141
  .elementor-element.elementor-element-cdb5904
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-141
  .elementor-element.elementor-element-3aee8a4
  > .elementor-widget-container {
  margin: 0 0 -20px;
}
.elementor-141
  .elementor-element.elementor-element-422d5d5
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-141
  .elementor-element.elementor-element-9089add
  > .elementor-widget-container {
  margin: 0;
}
.elementor-141
  .elementor-element.elementor-element-e42aad3
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-141 .elementor-element.elementor-element-e42aad3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.elementor-141
  .elementor-element.elementor-element-7bc030e
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-141
  .elementor-element.elementor-element-040ce3c
  > .elementor-element-populated {
  padding: 20px;
}
.elementor-141
  .elementor-element.elementor-element-e6264d4
  > .elementor-widget-container {
  margin: 0 0 -20px;
}
.elementor-141
  .elementor-element.elementor-element-818bf44
  > .elementor-element-populated {
  padding: 10px;
}
.elementor-141
  .elementor-element.elementor-element-b0896da
  > .elementor-widget-container {
  margin: 0;
}
@media (min-width: 768px) {
  .elementor-141 .elementor-element.elementor-element-42ff7d2 {
    width: 25%;
  }
  .elementor-141 .elementor-element.elementor-element-f3a0a6e {
    width: 35%;
  }
  .elementor-141 .elementor-element.elementor-element-70107cb {
    width: 40%;
  }
  .elementor-141 .elementor-element.elementor-element-6e38688 {
    width: 25%;
  }
  .elementor-141 .elementor-element.elementor-element-cdb5904 {
    width: 35%;
  }
  .elementor-141 .elementor-element.elementor-element-422d5d5 {
    width: 40%;
  }
  .elementor-141 .elementor-element.elementor-element-7bc030e {
    width: 25%;
  }
  .elementor-141 .elementor-element.elementor-element-040ce3c {
    width: 35%;
  }
  .elementor-141 .elementor-element.elementor-element-818bf44 {
    width: 39.664%;
  }
}
@media (max-width: 1024px) {
  .elementor-141 .elementor-element.elementor-element-a430d43 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-141 .elementor-element.elementor-element-4b8b7ba {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-141
    .elementor-element.elementor-element-42ff7d2
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-141
    .elementor-element.elementor-element-f3a0a6e
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141
    .elementor-element.elementor-element-70107cb
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141 .elementor-element.elementor-element-b3adf3f {
    margin-top: 0;
    margin-bottom: 0;
  }
  .elementor-141
    .elementor-element.elementor-element-6e38688
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-141
    .elementor-element.elementor-element-cdb5904
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141
    .elementor-element.elementor-element-422d5d5
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141
    .elementor-element.elementor-element-7bc030e
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-141
    .elementor-element.elementor-element-040ce3c
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141
    .elementor-element.elementor-element-818bf44
    > .elementor-element-populated {
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .elementor-141 .elementor-element.elementor-element-a430d43 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-141
    .elementor-element.elementor-element-05b1111
    > .elementor-element-populated {
    padding: 0;
  }
  .elementor-141 .elementor-element.elementor-element-c305af9 {
    text-align: center;
  }
  .elementor-141
    .elementor-element.elementor-element-f3a0a6e
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141 .elementor-element.elementor-element-856bdb6 {
    text-align: center;
  }
  .elementor-141 .elementor-element.elementor-element-af4e31b {
    text-align: center;
  }
  .elementor-141
    .elementor-element.elementor-element-70107cb
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-141 .elementor-element.elementor-element-8600feb {
    text-align: center;
  }
  .elementor-141
    .elementor-element.elementor-element-cdb5904
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141 .elementor-element.elementor-element-d54f053 {
    text-align: center;
  }
  .elementor-141 .elementor-element.elementor-element-3aee8a4 {
    text-align: center;
  }
  .elementor-141
    .elementor-element.elementor-element-422d5d5
    > .elementor-element-populated {
    padding: 20px;
  }
  .elementor-141 .elementor-element.elementor-element-e42aad3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .elementor-141 .elementor-element.elementor-element-9c28bc0 {
    text-align: center;
  }
  .elementor-141
    .elementor-element.elementor-element-040ce3c
    > .elementor-element-populated {
    padding: 10px;
  }
  .elementor-141 .elementor-element.elementor-element-4216c9b {
    text-align: center;
  }
  .elementor-141 .elementor-element.elementor-element-e6264d4 {
    text-align: center;
  }
  .elementor-141
    .elementor-element.elementor-element-818bf44
    > .elementor-element-populated {
    padding: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-141 .elementor-element.elementor-element-05b1111 {
    width: 100%;
  }
  .elementor-141 .elementor-element.elementor-element-42ff7d2 {
    width: 30%;
  }
  .elementor-141 .elementor-element.elementor-element-f3a0a6e {
    width: 30%;
  }
  .elementor-141 .elementor-element.elementor-element-70107cb {
    width: 40%;
  }
  .elementor-141 .elementor-element.elementor-element-6e38688 {
    width: 30%;
  }
  .elementor-141 .elementor-element.elementor-element-cdb5904 {
    width: 30%;
  }
  .elementor-141 .elementor-element.elementor-element-422d5d5 {
    width: 40%;
  }
  .elementor-141 .elementor-element.elementor-element-7bc030e {
    width: 30%;
  }
  .elementor-141 .elementor-element.elementor-element-040ce3c {
    width: 30%;
  }
  .elementor-141 .elementor-element.elementor-element-818bf44 {
    width: 40%;
  }
}
